/*

驴Que es un mixin CSS? 
 Es como una "funci贸n" o "m茅todo" que nos permite agrupar y reutilizar propiedades CSS
 para evitar la repetici贸n de c贸digo y facilitar la organizaci贸n de las hojas de estilo.

No existen mixin en CSS pero si en SASS.


驴Y que es SASS? 锔
Es un preprocesador de CSS que a帽ade caracter铆sticas de programaci贸n a las hojas de estilo, 
en resumen, SASS escribe un c贸digo que luego se traduce a CSS.


Entonces, 驴Qu茅 es SCSS? З
Es una sintaxis de SASS, un preprocesador de CSS, en esencia SCSS es una forma m谩s legible
y potente de escribir CSS.

Tipos de mixin:
Mixin sin argumentos锔
Mixin con argumentos锔
Mixin con la regla @content锔

*/



//Mixin sin argumentos.锔
@mixin nombreMixin(){
    background-color: black;
}
header{
    @include nombreMixin()//Usamos en mixin (*aqui dentro estaran las propiedades que le hayamos dado*)
}


@mixin otroMixin{
    background: black;
}
header{
    @include otroMixin;//Sin () - Otra manera de usarlo
}





/* 
Mixin con argumentos.锔
★Siempre con los "()"
★Los argumentos son como las variables 
*/


// Mixin con solo 1 argumento锔
@mixin nombre($argumento1){
    color: $argumento1;
}

p{
    @include nombre(black);
}



// Mixin con m谩s de 1 argumento锔
@mixin nombre($argumento1, $argumento2, $argumento3){
    color: $argumento1;
    font-size: $argumento2;
    font-weight: $argumento3;
}
p{
    @include nombre(black, bold, 2em);
}

@mixin nombre($argumento1: red){
    color: $argumento1;

}

p{
    @include nombre(); //El color red puesto se pondra por defecto pero..
    @include nombre(black); //Aqui se reescribe por el color negro
}

/*
Mixin con la regla @content锔
★Nos permite usar multiples propiedades CSS dentro de un mixin.
★Muy usado para Responsive Design
*/
@mixin movil(){
   @media screen and (max-width: 480px) {
    @content;
   } 
}

p{
    font-size: 4em;
    @include movil(){
        font-size: 2em;
    }
}